{
  "presets": [
    "react"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["."],
      "alias": {
        "components": "./src/components"

      }
    }]
  ],
  "env": {
    "test": {},
    "storybook": {}
  }
}